<div class="bottom">
    <div class="w1200">
        <ul>
            <li class="li1">关于我们</li>
            <li><a href="{:U('Service/index')}">公司简介</a></li>
            <li><a href="{:U('Service/partner')}">合作伙伴</a></li>
            <li><a href="{:U('Service/news')}">企业动态</a></li>
            <li><a href="{:U('Service/cases')}">客户案例</a></li>
            <li><a href="{:U('Service/filings')}">备案中心</a></li>
            <li><a href="{:U('Service/contactus')}">联系我们</a></li>
        </ul>
        <ul>
            <li class="li1">产品与服务</li>
            <li><a href="{:U('Domain/index')}">域名注册</a></li>
            <li><a href="{:U('Mail/index')}">企业邮箱</a></li>
            <li><a href="{:U('Server/index')}">云服务器</a></li>
            <li><a href="{:U('Station/index')}">云建站</a></li>
        </ul>
        <ul>
            <li class="li1">常见问题</li>
            <li><a href="{:U('Service/filings')}">备案中心</a></li>
            <li><a href="{:U('Help/index')}">帮助中心</a></li>
        </ul>
        <div class="div_rig">
            <div class="div1">
                <h2>{$public_contact.hot_line}</h2>
                <p>客服热线<br><span>CUSTOMER HOTLINE</span></p>
                <div class="clear"></div>
            </div>
            <div class="div2">
                <ul>
                    <li><img src="__YWY__/images/xl.png" alt=""></li>
                    <li><img src="__YWY__/images/wx.png" alt=""></li>
                    <li class="li1">
                        <empty name="public_contact['wechact']">
                            <img src="__YWY__/images/ewm.jpg" alt="">
                            <else />
                        <img src="{$public_contact.wechact|get_cover=###,'path'}" alt="">
                        </empty>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="div_bot">
            <p class="fl"><a href="http://www.miitbeian.gov.cn/" target="_blank" style="color: #9fa0a1;">{:C('WEB_SITE_ICP')}</a></p>
            <p class="fr">电　话：{$public_contact.tel}</p>
        </div>
    </div>
</div>