<div class="bottom">
    <div class="w1200">
        <ul>
            <li class="li1">关于我们</li>
            <li><a href="">公司简介</a></li>
            <li><a href="">合作伙伴</a></li>
            <li><a href="">企业动态</a></li>
            <li><a href="">客户案例</a></li>
            <li><a href="">备案中心</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
        <ul>
            <li class="li1">产品与服务</li>
            <li><a href="">域名注册</a></li>
            <li><a href="">企业邮箱</a></li>
            <li><a href="">云服务器</a></li>
            <li><a href="">云建站</a></li>
        </ul>
        <ul>
            <li class="li1">常见问题</li>
            <li><a href="">成品站</a></li>
            <li><a href="">备案中心</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
        <div class="div_rig">
            <div class="div1">
                <h2>400-066-9987</h2>
                <p>客服热线<br><span>CUSTOMER HOTLINE</span></p>
                <div class="clear"></div>
            </div>
            <div class="div2">
                <ul>
                    <li><img src="__YWY__/images/xl.png" alt=""></li>
                    <li><img src="__YWY__/images/wx.png" alt=""></li>
                    <li class="li1"><img src="__YWY__/images/ewm.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="div_bot">
            <p class="fl">{:C('WEB_SITE_ICP')}</p>
            <p class="fr">电　话：0755-83586660  0755-83583158</p>
        </div>
    </div>
</div>