<div class="bottom">
    <div class="w1200">
        <ul>
            <li class="li1">关于我们</li>
            <li><a href="{:U('Service/index')}">公司简介</a></li>
            <li><a href="{:U('Service/partner')}">合作伙伴</a></li>
            <li><a href="{:U('Service/news')}">企业动态</a></li>
            <li><a href="{:U('Service/cases')}">客户案例</a></li>
            <li><a href="{:U('Service/filings')}">备案中心</a></li>
            <li><a href="{:U('Service/contactus')}">联系我们</a></li>
        </ul>
        <ul>
            <li class="li1">产品与服务</li>
            <li><a href="{:U('Domain/index')}">域名注册</a></li>
            <li><a href="{:U('Mail/index')}">企业邮箱</a></li>
            <li><a href="{:U('Server/index')}">云服务器</a></li>
            <li><a href="{:U('Station/index')}">云建站</a></li>
        </ul>
        <ul>
            <li class="li1">常见问题</li>
            <li><a href="{:U('Service/filings')}">备案中心</a></li>
            <li><a href="{:U('Help/index')}">帮助中心</a></li>
        </ul>
        <div class="div_rig">
            <div class="div1">
                <h2>400-066-9987</h2>
                <p>客服热线<br><span>CUSTOMER HOTLINE</span></p>
                <div class="clear"></div>
            </div>
            <div class="div2">
                <ul>
                    <li><img src="__YWY__/images/xl.png" alt=""></li>
                    <li><img src="__YWY__/images/wx.png" alt=""></li>
                    <li class="li1"><img src="__YWY__/images/ewm.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="div_bot">
            <p class="fl">{:C('WEB_SITE_ICP')}</p>
            <p class="fr">电　话：0755-83586660  0755-83583158</p>
        </div>
    </div>
</div>