<div class="top_div">
    <div class="w1200">
        <div class="div1 fl">
            欢迎来到亿维云网，开始您的互联网之旅！
        </div>
        <div class="div2 fr">
            <ul>
                <li class="li1"><a href="{:U('Service/filings')}">备案</a></li>
                <li class="li2"><a href="{:U('Help/index')}">帮助中心</a></li>
                <li class="li3">
                    <div class="gwc_div">
                        <div class="gwc_1">
                            <a href="{:U('Cart/index')}">
                                <i></i>
                                购物车
                                <span></span>
                            </a>
                            <dl>
                                <dt></dt>
                                <dd>{$carNum}</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <empty name="user_login">
                <li class="li4" ><!-- 未登录 -->
                    <div class="login">
                        <div class="login_div">
                            <a href="{:U('Cuser/login')}">
                                <i></i>
                                <em>登录</em>
                            </a>
                            <i class="i-line">|</i>
                            <a href="{:U('Cuser/register')}">
                                免费注册
                                <span></span>
                            </a>

                        </div>
                    </div>
                </li>
                    <else />
                    <li class="li4"><!-- 已登录 -->
                        <div class="login">
                            <div class="login_div">
                                <div class="login_div_1">
                                    <i></i>
                                    <em>{$user_name}</em>
                                    <span></span>
                                    <div class="div1">
                                        <div class="div2">
                                            <h2>欢迎登录亿维云网</h2>
                                                <p>余额：<em>{$user_account}</em></p>
                                        </div>
                                        <div class="div3">
                                            <ul>
                                                <li><a class="a1" href="{:U('Cuser/userDomain')}">域名管理</a></li>
                                                <li><a class="a2" href="{:U('Cuser/userVitrual')}">主机管理</a></li>
                                                <li><a class="a3" href="">我要充值</a></li>
                                                <li><a class="a4" href="{:U('Cuser/createWorksheet')}">提交工单</a></li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="div4">
                                            <a class="afl" href="{:U('Cuser/index')}">用户中心</a>
                                            <a class="afr" href="{:U('Cuser/logout')}">退 出</a>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </empty>

            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="w1200 head_div">
    <div class="logo_div fl">
        <a href="{:U('Index/index')}"><img src="__YWY__/images/logo.png" alt=""></a>
    </div>
    <div class="daoh fr">
        <ul>
            <li><a href="{:U('Index/index')}" <eq name="CONTROLLER_NAME" value="Index">class="a1"</eq> >首页</a></li>
            <li><a href="{:U('Domain/index')}" <eq name="CONTROLLER_NAME" value="Domain">class="a1"</eq> >域名注册</a></li>
            <li><a href="{:U('Cloud/index')}" <eq name="CONTROLLER_NAME" value="Cloud">class="a1"</eq> >虚拟主机</a></li>
            <li><a href="{:U('Mail/index')}" <eq name="CONTROLLER_NAME" value="Mail">class="a1"</eq> >企业邮箱</a></li>
            <li><a href="{:U('Server/index')}" <eq name="CONTROLLER_NAME" value="Server">class="a1"</eq> >云服务端</a></li>
            <li><a href="{:U('Station/index')}" <eq name="CONTROLLER_NAME" value="Station">class="a1"</eq> >云建站</a></li>
            <li><a href="{:U('Service/index')}" <eq name="CONTROLLER_NAME" value="Service">class="a1"</eq> >客服中心</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>