<div class="top_div">
    <div class="w1200">
        <div class="div1 fl">
            欢迎来到亿维云网，开始您的互联网之旅！
        </div>
        <div class="div2 fr">
            <ul>
                <li class="li1"><a href="">备份</a></li>
                <li class="li2"><a href="{:U('Help/index')}">帮助中心</a></li>
                <li class="li3">
                    <div class="gwc_div">
                        <div class="gwc_1">
                            <a href="">
                                <i></i>
                                购物车
                                <span></span>
                            </a>
                            <dl>
                                <dt></dt>
                                <dd>0</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="li4" style="display:none"><!-- 未登录 -->
                    <div class="login">
                        <div class="login_div">
                            <a href="sign.php">
                                <i></i>
                                <em>登录</em>
                            </a>
                            <i class="i-line">|</i>
                            <a href="register.php">
                                免费注册
                                <span></span>
                            </a>

                        </div>
                    </div>
                </li>
                <li class="li4"><!-- 已登录 -->
                    <div class="login">
                        <div class="login_div">
                            <div class="login_div_1">
                                <i></i>
                                <em>木子</em>
                                <span></span>
                                <div class="div1">
                                    <div class="div2">
                                        <h2>欢迎登录亿维云网</h2>
                                        <p>余额：<em>0.00</em></p>
                                    </div>
                                    <div class="div3">
                                        <ul>
                                            <li><a class="a1" href="">域名管理</a></li>
                                            <li><a class="a2" href="">主机管理</a></li>
                                            <li><a class="a3" href="">我要充值</a></li>
                                            <li><a class="a4" href="">提交工单</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="div4">
                                        <a class="afl" href="user_index.php">用户中心</a>
                                        <a class="afr" href="">退 出</a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="w1200 head_div">
    <div class="logo_div fl">
        <a href="{:U('Index/index')}"><img src="__YWY__/images/logo.png" alt=""></a>
    </div>
    <div class="daoh fr">
        <ul>
            <li><a href="{:U('Index/index')}" class="a1">首页</a></li>
            <li><a href="{:U('Domain/index')}">域名注册</a></li>
            <li><a href="{:U('Mail/index')}">企业邮箱</a></li>
            <li><a href="{:U('Server/index')}">云服务端</a></li>
            <li><a href="{:U('Station/index')}">云建站</a></li>
            <li><a href="{:U('Service/index')}">客服中心</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>