<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="ban_div">
    <a <empty name="aboutus['video']">href="javascript:"<else />href="{$aboutus.video}" target="_blank" </empty> ><img src="{$aboutus.cover_id|get_cover=###,'path'}" width="100%" alt=""></a>
</div>
<div class="lanm_div">
    <div class="w1200">
        <ul>
            <li><a href="{:U('Service/index')}">公司简介<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/partner')}">合作伙伴<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/news')}">企业动态<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/cases')}">客户案例<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/filings')}">备案中心<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a class="a1" href="{:U('Service/contactus')}">联系我们<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="lxwm_div w1200">
    <div class="lxwm_w400_1">
        <ul>
            <li class="li1">{$info.tel}</li>
            <li class="li2">{$info.fax}</li>
            <li class="li3">{$info.website}</li>
            <li class="li4">{$info.email}</li>
            <li class="li5">{$info.address}</li>
        </ul>
    </div>
    <div class="lxwm_w400_2">
        <h2>亿维云网在线咨询</h2>
        <div class="div1">
            <volist name="info['consults']" id="vo">
            <a href="{$vo}" target="_blank">企业QQ交谈</a>
            </volist>

            <div class="clear"></div>
        </div>
        <h2>租用托管</h2>
        <p>{$info.rent} <br> (周一到周五9:00-18:00)</p>
    </div>
    <div class="lxwm_w400_3">
        <img src="{$info.cover_id|get_cover=###,'path'}" alt="">
    </div>
    <div class="clear"></div>
</div>
<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->
</body>
</html>