<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{$aboutus.title}">
    <Meta name="description" Content="{$aboutus.description}">
    <title>{$aboutus.title}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="ban_div">
    <!--
    <a href=""><img src="__YWY__/images/a7.jpg" width="100%" alt=""></a>-->
    <a <empty name="aboutus['video']">href="javascript:"<else />href="{$aboutus.video}" target="_blank" </empty> ><img src="{$aboutus.cover_id|get_cover=###,'path'}" width="100%" alt=""></a>
</div>
<div class="lanm_div">
    <div class="w1200">
        <ul>
            <li><a class="a1" href="{:U('Service/index')}">公司简介<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/partner')}">合作伙伴<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/news')}">企业动态<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/cases')}">客户案例<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/filings')}">备案中心<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a href="{:U('Service/contactus')}">联系我们<i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="gsjj_div">
    <div class="w1200">
        {$aboutus.content}
        <!--
        <h2 class="h_tith">我们的成就</h2>
        <br>
        <p>创建于2008年，公司先后在广州、重庆、西安、贵阳先后成立分公司。为客户持续创造价值。</p>
        <p>致力为企业提供全面的网络宣传与技术应用整体策划方案，真正实现企业互联网信息智能化，提高企业在网络科技时代的市场竞争力。</p>
        <p>公司将坚持客户导向、应用为本的策略，继续专注于在信息技术领域开拓发展成为企业、政府、家庭信息化的推动者和服务者。</p>
        <p>正道将秉承"和谐、参与、激情"的文化，与客户和合作伙伴齐心协力一起成长，共同发展。</p>
        -->
    </div>
</div>
<div class="gsjj_div1 w1200">
    <img src="__YWY__/images/a8.jpg" alt="">
</div>
<div class="gsjj_div2">
    <div class="w1200">
        <h2 class="h_tith">获得的荣誉</h2>
        <p class="p_tith">亿维云网一路走来，共获取了20多项专项认证，是国内认证最完备的云平台</p>
        <div class="blank40"></div>
        <div class="scrollBox" style="margin:0 auto">
            <div class="ohbox">
                <ul class="piclist">
                    <volist name="honors" id="vo">
                    <li><a href="{$vo.cover_id|get_cover=###,'path'}" target="_blank"><img src="{$vo.cover_id|get_cover=###,'path'}" /><span>{$vo.title}</span></a></li>
                    </volist>


                </ul>
            </div>
            <div class="pageBtn">
                <span class="prev">&lt;</span>
                <span class="next">&gt;</span>
                <ul class="list" style="display:none"><li>0</li><li>1</li><li>2</li></ul>
            </div>
        </div>
        <script type="text/javascript">jQuery(".scrollBox").slide({ titCell:".list li", mainCell:".piclist", effect:"left",vis:5,scroll:5,delayTime:800,trigger:"click",easing:"easeOutCirc"});</script>
    </div>
</div>
<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->
</body>
</html>