<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>购物车-{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
    <link href="__YWY__/css/style2.css" rel="stylesheet" type="text/css" /><!-- 表单美化 -->
    <link href="__YWY__/css/selectpick/cui.css" rel="stylesheet" type="text/css"><!-- 2.2 selectpick美化下拉框插件 -->

    <link rel="stylesheet" href="__YWY__/server/css/layer.css" id="layui_layer_skinlayercss" style="">

    <SCRIPT>
        function show(c_Str)
        {
            if(document.all(c_Str).style.display=='none')
            {document.all(c_Str).style.display='block'}
            else{document.all(c_Str).style.display='none'}
        }
        function showall(){

            $("[id^='tip']").each(function(){
                if($(this).is(":hidden")){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });
        }
    </SCRIPT>
</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="shopping_div">
    <div class="w1200">
        <div class="shop_div1" style="background:url('__YWY__/images/b4.png') no-repeat right center">
            <h2>购物车列表</h2>
            <a href="javascript:" onclick="showall()">展开全部详细信息</a>
            <div class="clear"></div>
        </div>
        <div class="shop_div2">
            <div class="tdw70">
                <input id="checkbox-1-1" class="regular-checkbox"  checked="" type="checkbox"><label class="label_1" for="checkbox-1-1"></label>
                全选
            </div>
            <div class="tdw235">
                <h3>产品名称</h3>
            </div>
            <div class="tdw100">
                <h3>关键字</h3>
            </div>
            <div class="tdw90">
                <h3>数量</h3>
            </div>
            <div class="tdw100">
                <h3>时限</h3>
            </div>
            <div class="tdw380">
                <h3>价格</h3>
            </div>
            <div class="tdw160">
                <h3>操作</h3>
            </div>
            <div class="clear"></div>
        </div>

        <volist name="list" id="vo">
        <div class="shop_div3">
            <div class="tdw70 div_ty">
                <input id="checkbox-{$i}-2" class="regular-checkbox" name="cartid[]" value="{$vo.id}" checked="" type="checkbox"><label class="label_1" for="checkbox-{$i}-2"></label>
            </div>
            <div class="tdw235 div_ty">
                <h2>{$vo.name}</h2>
            </div>
            <div class="tdw100 div_ty">
                <h3>{$vo.keywords}</h3>
            </div>
            <div class="tdw90 div_ty">
                <h3>{$vo.number}</h3>
            </div>
            <div class="tdw100 div_ty">
                <h3>{$vo.year}</h3>
            </div>
            <div class="tdw380 div_ty">
                <h3>基本价格：{$vo.base_total} + 增值价格：{$vo.added_price} = {$vo.subtotal} 元</h3>
            </div>
            <div class="tdw160 div_ty">
                <a class="a1" onclick='show("tip{$i}")'>详情</a>
                <a class="a2" href="javascript:void(0)" onclick="deleteOne({$vo['id']})" >删除</a>
            </div>
            <div class="clear"></div>
            <div id="tip{$i}" class="tip_div" style="	display:none;">
                <div class="div1">

                    <div class="div1_1">
                        <h2>方案信息</h2>
                        <ul>
                            <li><span>方案名称：</span>{$vo['project']['name']}</li>
                            <empty name="vo['project']['os']">
                                <else />
                            <li><span>操作系统：</span>{$vo['project']['os']}</li>
                            </empty>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <empty name="vo['parameters']">
                        <else />
                    <if condition="$vo['type'] eq 2">
                    <div class="div1_2">
                        <h2>具体参数</h2>
                        <ul>
                            <li>
                                <p><span>线路：</span>{$vo.lineType}</p>
                                <p><span>同时最大连接数：</span>{$vo['parameters']['_limit_MaxConnections']}个</p>
                                <p><span>MySQL空间限制：</span>{$vo['parameters']['_limit_MySQLQuota']}MB</p>
                            </li>
                            <li>
                                <p><span>WWW站点：</span>支持</p>
                                <p><span>磁盘空间限制：</span>{$vo['parameters']['_limit_Quota']}MB</p>
                            </li>
                            <li>
                                <p><span>带宽限制：</span>{$vo['parameters']['_limit_Bandwidth']}KB/秒</p>
                                <p><span>PHP：</span>
                                <if condition="$vo['parameters']['_limit_PHP'] eq 1">
                                    支持
                                    <else />
                                    不支持
                                </if>
                                </p>
                            </li>
                            <li>
                                <p><span>流量限制：</span>{$vo['parameters']['_limit_Traffic']}MB/月</p>
                                <p><span>MYSQL数据库：</span>支持</p>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <elseif condition="$vo['type'] eq 4" />
                        <div class="div1_2">
                            <h2>具体参数</h2>
                            <ul>
                                <li>
                                    <p><span>cpu：</span>{$vo['parameters']['cpu']}核</p>
                                    <p><span>内存：</span>{$vo['parameters']['memory']}G</p>
                                    <p><span>硬盘：</span>{$vo['parameters']['disk']}G</p>
                                </li>
                                <li>
                                    <p><span>带宽：</span>{$vo['parameters']['bandwidth']}MB</p>
                                    <p><span>线路：</span>{$vo['parameters']['line_name']}</p>
                                </li>
                                <li>
                                    <p><span>服务标准：</span>{$vo['parameters']['service_name']}</p>
                                    <p><span>操作系统：</span>{$vo['parameters']['os_name']}</p>
                                </li>

                            </ul>
                            <div class="clear"></div>
                        </div>
                    <elseif condition="$vo['type'] eq 6" />
                        <div class="div1_2">
                            <h2>具体参数</h2>
                            <ul>
                                <li>
                                    <p><span>cpu：</span>{$vo['parameters']['cpu']}</p>
                                    <p><span>内存：</span>{$vo['parameters']['memory']}G</p>
                                    <p><span>硬盘：</span>{$vo['parameters']['disk']}G</p>
                                </li>
                                <li>
                                    <p><span>带宽：</span>{$vo['parameters']['bandwidth']}</p>
                                    <p><span>IP：</span>{$vo['parameters']['ip']}</p>
                                </li>


                            </ul>
                            <div class="clear"></div>
                        </div>
                    </if>
                    </empty>

                </div>
            </div>
        </div>
        </volist>


        <div class="shop_div4">
            <h2>
                <label for="">
                    <input id="checkbox-3-1" class="regular-checkbox" checked="" type="checkbox">
                    <label class="label_1" for="checkbox-3-1"></label> 全选</label>
                <a class="a1" href="javascript:void(0)" onclick="deleteAll()">删除</a>
                <empty name="carNum">
                    <a class="a2" href="{:U('Index/index')}">去首页</a>
                    <else />
                <a class="a2" href="{:U('Cart/selectPayment')}">下一步</a>
                </empty>
                <span>总价：<em>{$total|number_format=###,2} 元</em></span>
                <span>您已选择：<em>{$carNum}</em>件商品</span>
            </h2>
        </div>

    </div>
</div>
<div class="blank50"></div>
<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->
<script>
    //全选反选
    $('#checkbox-1-1').click(function(){
        if(this.checked){
            $(".regular-checkbox").prop('checked', true)
        }else{
            $(".regular-checkbox").prop('checked', false)
        }
    });
    $('#checkbox-3-1').click(function(){
        if(this.checked){
            $(".regular-checkbox").prop('checked', true)
        }else{
            $(".regular-checkbox").prop('checked', false)
        }
    });

    function deleteAll(){

        var aa = document.getElementsByName("cartid[]");
        var ids = "";
        if(aa.length==0){
            layer.alert("请选择要删除的产品",{title:"提示"});
        }else{

            for (var i = 0; i < aa.length; i++) {
                if (aa[i].checked) {
                    ids += aa[i].value+',';
                }
            }

            layer.confirm('<span style="font-size:14px">提示：确定要删除吗', {
                icon: 3,
                title: '温馨提示'
            }, function(index) {
                continueCallBack(ids);
                layer.close(index);
            });

        }

    }

    function deleteOne(id){
        layer.confirm('<span style="font-size:14px">提示：确定要删除吗', {
            icon: 3,
            title: '温馨提示'
        }, function(index) {
            continueCallBack(id);
            layer.close(index);
        });

    }

    function continueCallBack(id){
        $.post('{:U("Cart/DeleteCart")}',{id:id},function(data){
            if(data.status == 1){
                layer.alert("删除成功",{title:"提示"});
                window.location.href = data.url;
            }
            if(data.status == 0){
                layer.alert(data.msg,{title:"提示"});
            }
        }, "json");
    }

</script>

<script type="text/javascript" src="__YWY__/js2016/lib/wjf/js/wjf-1.0.0.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/jqurey.tools/jquery.tools.rangeinput.min.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/layer/layer.js"></script>
</body>
</html>