<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>订单支付完成-{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
    <link href="__YWY__/css/style2.css" rel="stylesheet" type="text/css" /><!-- 表单美化 -->
    <link href="__YWY__/css/selectpick/cui.css" rel="stylesheet" type="text/css"><!-- 2.2 selectpick美化下拉框插件 -->
    <SCRIPT>
        function show(c_Str)
        {
            if(document.all(c_Str).style.display=='none')
            {document.all(c_Str).style.display='block'}
            else{document.all(c_Str).style.display='none'}
        }
    </SCRIPT>
</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="shopping_div">
    <div class="w1200">
        <div class="shop_div1" style="background:url(images/b4_2.png) no-repeat right center">
            <h2>结算</h2>
            <div class="clear"></div>
        </div>
        <div class="shop_div7">

            <div class="div1">
                <h1><span>支付完成</span></h1>
            </div>
        </div>
        <div class="shop_div6">
            <a class="a2" href="{:U('Cuser/index')}">去用户中心</a>

        </div>
    </div>
</div>
<div class="blank50"></div>
<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->
</body>
</html>