<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->

    <link rel="stylesheet" href="__YWY__/ios/css/custom.css"><!--ios特效必须-->
    <link rel="stylesheet" href="__YWY__/ios/css/iosOverlay.css"><!--ios特效必须-->
    <script src="__YWY__/ios/js/iosOverlay.js"></script><!--ios特效必须-->
    <script src="__YWY__/ios/js/spin.min.js"></script>
    <script src="__YWY__/ios/js/prettify.js"></script>
    <script src="__YWY__/ios/js/custom.js"></script><!--ios特效必须-->
</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="banner_div">
    <div class="w1200 banner_1">
        <h2>亿维云网 . 百万用户选择</h2>
        <h1>建立网站,从域名注册开始</h1>
        <div class="div1">
            <div class="div1_1">
                <button id="loading" style="display: none;" class="btn">Loading Spinner</button>
                <form action="{:U('Domain/checkDomainResult')}" method="post">
                    <input type="text" name="domain" class="input_1" placeholder="请输入您要的注册的域名">
                    <select name="tld" class="inse_1">
                        <option value=".com">.com</option>
                        <option value=".net">.net</option>
                        <option value=".cn">.cn</option>
                        <option value=".top">.top</option>
                        <option value=".cc">.cc</option>
                    </select>
                    <input class="sub_1"  type="submit"  value="查域名">
                </form>
                <div class="clear"></div>
            </div>
        </div>
        <div class="div2">
            <ul>
                <li><a href="">批量注册</a></li>
                <li>|</li>
                <li><a href="">域名续费</a></li>
                <li>|</li>
                <li><a href="">价格总览</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="basics_div">
    <div class="w1200">
        <div class="blank70"></div>
        <h2 class="h_tith">基础接入服务</h2>
        <p class="p_tith">让网站稳定运行</p>
        <div class="blank30"></div>
        <div class="slide_box">
            <div class="div1 hd">
                <ul>
                    <li>云服务器</li>
                    <li>企业邮箱</li>
                    <li>嘘拟主机</li>
                    <li>云建站</li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="blank45"></div>
            <div class="bd">
                <div>
                    <ul class="jic_ul">
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div>
                    <ul class="jic_ul">
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div>
                    <ul class="jic_ul">
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div>
                    <ul class="jic_ul">
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>入门型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h2>标准型云服务器</h2>
                            <div class="div_1">
                                <img src="__YWY__/images/ioc_1.png" alt="">
                                <p><span>288</span><em>/</em>年</p>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta_1">
                                <tr>
                                    <td width="65" align="center">CPU：</td>
                                    <td align="center">InterXeon1核</td>
                                </tr>
                                <tr>
                                    <td align="center">内存：</td>
                                    <td align="center">512M</td>
                                </tr>
                                <tr>
                                    <td align="center">硬盘：</td>
                                    <td align="center">50G(分布式集群云存储)</td>
                                </tr>
                                <tr>
                                    <td align="center">机房：</td>
                                    <td align="center">电信线路</td>
                                </tr>
                                <tr>
                                    <td align="center" class="td_no">宽带：</td>
                                    <td align="center" class="td_no">1M</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="td_no td_1">
                                        <a class="a1" href="">立即购买</a>
                                        <a class="a2" href="">浏览更多</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">jQuery(".slide_box").slide({trigger:"click"});</script>
    </div>
</div>
<div class="yous">
    <div class="w1200">
        <div class="blank70"></div>
        <h2 class="h_tith">亿维云网优势</h2>
        <p class="p_tith">
            拥有近10年的行业经验，CNNIC&ICANN双认证知名域名注册商，具有跨地区增值电信业务经营许可资质，上海市高新技术企业，AAA级信用单位。
            <br>
            自2006年上海成立以来，相继在北京，广州，深圳，杭州，成都，香港成立服务中心，拥有专业的全国统一400呼叫中心。
        </p>
        <div class="blank30"></div>

        <volist name="advantages" id="vo" key="k">
        <div class="yous_div">
            <div class="div1"><img src="{$vo.cover_id|get_cover=###,'path'}" alt=""></div>
            <div class="div2">
                <h2>{$vo.title}</h2>
                <p>{$vo.description}</p>
            </div>
            <div class="clear"></div>
        </div>
            <eq name="k" value="3">
                <div class="blank65"></div>
            </eq>
        </volist>


        <div class="clear"></div>
    </div>
</div>
<div class="anl">
    <div class="w1200">
        <div class="blank70"></div>
        <h2 class="h_tith">解决方案及客户案例</h2>
        <p class="p_tith">不管你处于什么行业，亿维云网已定制多套解决方案，助你轻松跨入“互联网+”时代</p>
        <div class="blank70"></div>
        <div class="slide_box1">
            <div class="hd">
                <ul>
                    <volist name="all_solution" id="vo">
                    <li>{$vo.title}</li>
                    </volist>

                    <!--
                    <li>视频云</li>
                    <li>数字营销云</li>
                    <li>大数据分析</li>
                    <li>在线教育</li>-->
                </ul>
            </div>
            <div class="bd">
                <volist name="all_solution" id="vo">
                <div>
                    <div class="div1 fl">
                        <h2>{$vo.title}</h2>
                        <p>{$vo.description}</p>
                        <a class="a1" href="{:U('Service/cases',array('cate_id'=>$vo['id']))}">查看详情</a>
                    </div>
                    <div class="div2 fr">
                        <img src="{$vo.images|get_cover=###,'path'}" alt="">
                    </div>
                    <div class="clear"></div>
                    <div class="blank45"></div>
                    <div class="div3">
                        <ul>
                            <volist name="vo['cases']" id="item" key="k">
                            <li <if condition="$k eq 5">class="lino"</if> ><a href=""><img src="{$item.images|get_cover=###,'path'}" alt=""></a></li>
                            </volist>
                            <!--
                            <li><a href=""><img src="__YWY__/images/q2.jpg" alt=""></a></li>
                            <li><a href=""><img src="__YWY__/images/q3.jpg" alt=""></a></li>
                            <li><a href=""><img src="__YWY__/images/q4.jpg" alt=""></a></li>
                            <li class="lino"><a href=""><img src="__YWY__/images/q5.jpg" alt=""></a></li>
                            -->
                        </ul>
                    </div>
                </div>
                </volist>



                </div>
            </div>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">jQuery(".slide_box1").slide({trigger:"click"});</script>

    </div>
</div>
<div class="huod">
    <div class="blank70"></div>
    <div class="w1200">
        <div class="cqhd">
            <h2>长期活动</h2>
            <div class="blank30"></div>
            <div><a href=""><img src="__YWY__/images/a2.jpg" alt=""></a></div>
        </div>
        <div class="rmdt slide_box2">
            <div class="hd">
                <h2 class="fl">热门动态</h2>
                <ul>
                    <li>最新</li>
                    <li>产品动态</li>
                    <li>媒体报告</li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="blank10"></div>
            <div class="bd">
                <div>
                    <ul>
                        <!--最新动态-->
                        <volist name="hot_news" id="vo">
                        <li><a href="{:U('News/detail',array('id'=>$vo['id']))}">{$vo.create_time|date='m.d',###} | {$vo.title}</a></li>
                        </volist>

                    </ul>
                    <div class="clear"></div>
                    <div class="ck"><a href="">查看全部</a></div>
                </div>
                <div>
                    <ul>
                        <!--产品动态-->
                        <volist name="product_news" id="vo">
                            <li><a href="{:U('News/detail',array('id'=>$vo['id']))}">{$vo.create_time|date='m.d',###} | {$vo.title}</a></li>
                        </volist>

                    </ul>
                    <div class="clear"></div>
                    <div class="ck"><a href="">查看全部</a></div>
                </div>
                <div>
                    <ul>
                        <!--媒体报告-->
                        <volist name="media_news" id="vo">
                            <li><a href="{:U('News/detail',array('id'=>$vo['id']))}">{$vo.create_time|date='m.d',###} | {$vo.title}</a></li>
                        </volist>

                    </ul>
                    <div class="clear"></div>
                    <div class="ck"><a href="">查看全部</a></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">jQuery(".slide_box2").slide({trigger:"click"});</script>
    <div class="blank70"></div>
</div>

<script type="text/javascript">

    $(document)
            .ajaxStart(function(){
                document.getElementById('loading').click();
                $("input:submit").addClass("log-in").attr("disabled", true);
            })
            .ajaxStop(function(){
                $("input:submit").removeClass("log-in").attr("disabled", false);
            });


    $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
            if(data.status==1){
                window.location.href = data.url;
            } else {
                iosOverlay({
                    text: "请输入域名",
                    duration: 2e3,
                    icon: "__YWY__/ios/img/cross.png"
                });
                return false;
            }
        }
    });

</script>

<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->

</body>
</html>