<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>域名查询结果-{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
    <link href="__YWY__/css/style2.css" rel="stylesheet" type="text/css" /><!-- 表单美化 -->
    <link href="__YWY__/css/selectpick/cui.css" rel="stylesheet" type="text/css"><!-- 2.2 selectpick美化下拉框插件 -->

    <link rel="stylesheet" href="__YWY__/server/css/layer.css" id="layui_layer_skinlayercss" style="">

</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="virtual_lx_div">
    <div class="w1200 mbs_div">
        <ul>
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li>></li>
            <li><a href="{:U('Domain/index')}">域名注册</a></li>
            <li>></li>
            <li class="li1">选择域名</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="w1200 namexz_div">
        <form id="form1" action="{:U('Domain/addDomainToBuy')}" method="post">
        <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#fff" class="name_ta">
            <tr>
                <th width="350">域名</th>
                <th width="350">域名状态</th>
                <th>价格信息</th>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#e5e5e5" class="name_ta1">
            <input type="hidden" id="count_list" value="{$count_list}" />
            <volist name="list" id="vo" key="k">
            <tr>
                <td bgcolor="#ffffff" width="350" class="td1">{$vo.domain}{$vo.tld}</td>
                <td bgcolor="#ffffff" width="350" class="td2">
                    <img src="__YWY__/images/loading.gif" /><span id="checkme_{$k}" style="display: none;" onclick="checkDomain(this,{$k+1},'{$vo.domain}','{$vo.tld}','{$vo.lang}','{$vo.encoding}');">点我查询</span>
                </td>
                <td bgcolor="#ffffff" class="td3">

                    <div class="nice-select" name="nice-select" style="display: none;">
                        <input type="text" class="show" name="" value="￥5元/1年" readonly>
                        <input type="hidden" class="year" name="year[{$vo.id}][]" value="1" readonly>
                        <ul>
                            <li data-value="1">￥5元/1年</li>
                            <li data-value="3">￥10元/3年</li>
                            <li data-value="5">￥20元/5年</li>
                            <li data-value="12">￥50元/12年</li>
                        </ul>
                    </div>
                    <label  class="label_xz" style="display: none;">
                        <input id="checkbox-{$k}-1" class="regular-checkbox selectDomain"  name="domain[{$vo.id}][]" value="{$vo['domain']}{$vo['tld']}" type="checkbox"><label class="label_1" for="checkbox-{$k}-1"></label>
                        选择此域名
                    </label>

                </td>
            </tr>
            </volist>

        </table>
        <div class="yxz_div">
            <p>已选择域名：<span>【<b id="sldomain"></b>】</span> <a href="javascript:void(0)" id="confirmbuy" onclick="$('#form1').submit();" >确定购买</a></p>
        </div>
        </form>
    </div>
</div>

<script>
    $(document)
            .ajaxStart(function(){

                $("#confirmbuy").attr("disabled", true);
            })
            .ajaxStop(function(){
                $("#confirmbuy").attr("disabled", false);
            });

    //表单验证
    $("form").submit(function(){

       // var checkbox = $("input[name='domain[]']:checked");//获取选中复选框
        var checkbox = $(".regular-checkbox:checked");//获取选中复选框
        var len = checkbox.length;//判断checkbox选中个数
        if(len==0){
            layer.alert("请选择要购买的域名",{title:"提示"});
            //alert("请选择要购买的域名");
            return false;
        }

        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
            if(data.status==1){
                //alert("成功");
                window.location.href = data.url;
            }else if(data.status == 2){
                layer.alert(data.msg,{title:"提示"});
            } else {
                layer.alert("请重试",{title:"提示"});
                return false;
            }
        }
    });



    $('[name="nice-select"]').click(function(e){
        $('[name="nice-select"]').find('ul').hide();
        $(this).find('ul').show();
        e.stopPropagation();
    });
    $('[name="nice-select"] li').hover(function(e){
        $(this).toggleClass('on');
        e.stopPropagation();
    });
    $('[name="nice-select"] li').click(function(e){
        var val = $(this).text();
        var datavalue = $(this).attr("data-value");
        $(this).parents('[name="nice-select"]').find('.show').val(val);
        $(this).parents('[name="nice-select"]').find('.year').val(datavalue);
        $('[name="nice-select"] ul').hide();
        e.stopPropagation();
    });
    $(document).click(function(){
        $('[name="nice-select"] ul').hide();
    });


    //ajax请求查询域名
    function checkDomain(obj,target,domain,tld,lang,encoding){
        var count_list = $('#count_list').val();
        $.post("{:U('Domain/ajaxCheckDomain')}",{domain:domain,tld:tld,lang:lang,encoding:encoding},function(data){
            if(data.status==1){
                //查询成功
                //alert(data.status);
                //alert(data.available);

                $(obj).parent().find("img").hide();
                if(data.available==1){
                    //可以注册
                    $(obj).parent().find("img").before("<span>可注册</span>");
                    $(obj).parent().parent().find(".td3").find(".nice-select").show()
                    $(obj).parent().parent().find(".td3").find(".label_xz").show()
                }else if(data.available===0){
                    //已被注册
                    $(obj).parent().find("img").before("<span>不可注册</span>");

                }else{
                    $(obj).parent().parent().find(".td3").html("<span>查询失败</span>")
                }
                //判断是否执行下一个ajax
                if(target<=count_list){
                    $("#checkme_"+target).click();
                }
            }

        },'json');
    }

    //选中域名
    $(".selectDomain").click(function(){
        var _checked = $(this).prop("checked")
        var _val = $(this).val()
        var _html = $('#sldomain').html()
        if(_checked){
            $('#sldomain').html(_html+_val+' ')
        }else{
            _html = _html.replace(_val,'')
            $('#sldomain').html(_html)
        }
    })

</script>
<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->

<script type="text/javascript" src="__YWY__/js2016/lib/wjf/js/wjf-1.0.0.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/jqurey.tools/jquery.tools.rangeinput.min.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/layer/layer.js"></script>

<script>
    $(document).ready(function () {
        var first_check = $("#checkme_1");
        if(first_check){
            first_check.click();
        }
    });
</script>
</body>
</html>