<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <link href="__YWY__/css/style2.css" rel="stylesheet" type="text/css" /><!-- 表单美化 -->
    <link href="__YWY__/css/style1.css" rel="stylesheet" type="text/css" /><!-- 表单美化 -->
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
    <script type="text/javascript" src="__YWY__/js/common.js"></script>
    <script type="text/javascript" src="__YWY__/js/domain2016.js"></script>

    <link rel="stylesheet" href="__YWY__/ios/css/custom.css"><!--ios特效必须-->
    <link rel="stylesheet" href="__YWY__/ios/css/iosOverlay.css"><!--ios特效必须-->
    <script src="__YWY__/ios/js/iosOverlay.js"></script><!--ios特效必须-->
    <script src="__YWY__/ios/js/spin.min.js"></script>
    <script src="__YWY__/ios/js/prettify.js"></script>
    <script src="__YWY__/ios/js/custom.js"></script><!--ios特效必须-->

    <script>
        $(function(){
            $(".domainContain").click(function(){
                var _checked = $(this).is(":checked");
                if(_checked){
                    $(this).parent().find("input[name='lang[]']").prop("checked",true);
                    $(this).parent().find("input[name='encoding[]']").prop("checked",true);
                }else{
                    $(this).parent().find("input[name='lang[]']").prop("checked",false);
                    $(this).parent().find("input[name='encoding[]']").prop("checked",false);
                }
            });

            //全选
            $(".all_checked").click(function(){
                var _checked = $(this).is(":checked");
                if(_checked){
                    $(this).parent().parent().parent().find(".clearfix input:checkbox").prop("checked",true);
                    $(this).parent().parent().parent().find(".clearfix label").addClass("checked");
                }
            });
            //全不选
            $(".all_unchecked").click(function(){
                var _checked = $(this).is(":checked");
                if(_checked){
                    $(this).parent().parent().parent().find(".clearfix input:checkbox").prop("checked",false);
                    $(this).parent().parent().parent().find(".clearfix label").removeClass("checked");
                }
            });

            //常用域名
            $(".commonDomain").click(function(){
                var _checked = $(this).is(":checked");
                if(_checked){
                    $(this).parent().parent().parent().find(".clearfix input:checkbox").prop("checked",false);
                    $(this).parent().parent().parent().find(".clearfix label").removeClass("checked");
                    $(this).parent().parent().parent().find(".clearfix .commonuse").prop("checked",true);
                    $(this).parent().parent().parent().find(".clearfix .commonLabel").addClass("checked");
                }
            });

        });

    </script>
</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="ban_div"><img src="__YWY__/images/a3.jpg" width="100%" alt=""></div>
<div class="name_div">
    <div class="blank50"></div>
    <div class="w1200 slide_name">
        <div class="hd">
            <ul>
                <volist name="all_domain_cate" id="vo">
                <li>{$vo.title}</li>
                </volist>

            </ul>
            <div class="clear"></div>
        </div>
        <div class="bd">
            <volist name="all_domain_cate" id="vo">
            <!--热销域名start-->
            <div>
                <form class="hotform" action="{:U('Domain/checkDomainResult')}" method="post">
                <div class="name1">
                    <h2>热销域名 超过<span>10,000,000</span>域名在亿维云网注册</h2>
                    <div class="div1">
                            <!--<input type="hidden" name="lang" value="ENG"/>-->
                            <!--<input type="hidden" name="encoding" value="UTF-8"/>-->
                            <input class="input_name" name="domain" type="text" placeholder="请输入您要的注册的域名">
                            <input class="submit_name"  type="submit" value="查域名">

                        <div class="clear"></div>
                    </div>
                    <div class="div2">
                        <label class="label_dx">
                            <input type="radio" id="hot_select_op_1_{$vo.id}" name="radio-1-set" class="regular-radio all_checked"  />
                            <label for="hot_select_op_1_{$vo.id}"></label>
                            全选
                        </label>
                        <label class="label_dx">
                            <input type="radio" id="hot_select_op_2_{$vo.id}" name="radio-1-set" class="regular-radio all_unchecked"  />
                            <label for="hot_select_op_2_{$vo.id}"></label>
                            全不选
                        </label>
                        <label class="label_dx">
                            <input type="radio" id="hot_select_op_3_{$vo.id}" class="regular-radio commonDomain"  />
                            <label for="hot_select_op_3_{$vo.id}"></label>
                            常用
                        </label>
                        <p class="p1"><a href="">新用户福利：领125元优惠码，注册.com优惠20元！</a></p>
                        <div class="clear"></div>
                    </div>
                    <div class="domext-wrapper clearfix">

                        <volist name="vo['all_tld']" id="item">
                        <label class="<?php if($item['is_checked'] ==1){?>checked <?php } if($item['is_commonuse']==1){echo 'commonLabel';}?>" >
                            <input class="domainContain <?php if($item['is_commonuse']==1){echo 'commonuse';}?>" name="tld[]"  <if condition="$item['is_checked'] eq 1">checked="checked"</if> value="{$item.tld}" common-use="1"  type="checkbox">
                            <input class="<?php if($item['is_commonuse']==1){echo 'commonuse';}?>" name="lang[]" value="{$item.lang}" type="checkbox" <if condition="$item['is_checked'] eq 1">checked="checked"</if> />
                            <input class="<?php if($item['is_commonuse']==1){echo 'commonuse';}?>" name="encoding[]" value="{$item.encoding}" type="checkbox" <if condition="$item['is_checked'] eq 1">checked="checked"</if> />
                            <a href="javascript:void(0)">{$item.tld}
                                <div class="dm-price-tip-container"><span class="domain-name">shop域名</span><br>价格：<span class="domain-price">43</span>元<br><span class="domain-info">商店;&nbsp;购物。9月26日23:00开放注册</span></div>
                            </a>
                            <if condition="$item['type_id'] eq 1">
                                <i class="icon promotion"></i>
                            <elseif condition="$item['type_id'] eq 2" />
                                <i class="icon hot"></i>
                            <else />
                            </if>
                        </label>
                        </volist>

                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                </form>
            </div>
            <!--热销域名end-->
            </volist>



        </div>
    </div>
    <script type="text/javascript">jQuery(".slide_name").slide({trigger:"click"});</script>
</div>
<div class="yous">
    <div class="w1200">
        <div class="blank70"></div>
        <h2 class="h_tith">亿维云网优势</h2>
        <p class="p_tith">
            拥有近10年的行业经验，CNNIC&ICANN双认证知名域名注册商，具有跨地区增值电信业务经营许可资质，上海市高新技术企业，AAA级信用单位。
            <br>
            自2006年上海成立以来，相继在北京，广州，深圳，杭州，成都，香港成立服务中心，拥有专业的全国统一400呼叫中心。
        </p>
        <div class="blank30"></div>

        <volist name="advantages" id="vo" key="k">
            <div class="yous_div">
                <div class="div1"><img src="{$vo.cover_id|get_cover=###,'path'}" alt=""></div>
                <div class="div2">
                    <h2>{$vo.title}</h2>
                    <p>{$vo.description}</p>
                </div>
                <div class="clear"></div>
            </div>
            <eq name="k" value="3">
                <div class="blank65"></div>
            </eq>
        </volist>
        <div class="clear"></div>
    </div>
</div>
<div class="huod">
    <div class="blank70"></div>
    <div class="w1200">
        <div class="cqhd">
            <h2>长期活动</h2>
            <div class="blank30"></div>
            <div><a href=""><img src="__YWY__/images/a2.jpg" alt=""></a></div>
        </div>
        <div class="rmdt slide_box2">
            <div class="hd">
                <h2 class="fl">热门动态</h2>
                <ul>
                    <li>最新</li>
                    <li>产品动态</li>
                    <li>媒体报告</li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="blank10"></div>
            <div class="bd">
                <div>
                    <ul>
                        <!--最新动态-->
                        <volist name="hot_news" id="vo">
                            <li><a href="{:U('News/detail',array('id'=>$vo['id']))}">{$vo.create_time|date='m.d',###} | {$vo.title}</a></li>
                        </volist>
                    </ul>
                    <div class="clear"></div>
                    <div class="ck"><a href="">查看全部</a></div>
                </div>
                <div>
                    <ul>
                        <!--产品动态-->
                        <volist name="product_news" id="vo">
                            <li><a href="{:U('News/detail',array('id'=>$vo['id']))}">{$vo.create_time|date='m.d',###} | {$vo.title}</a></li>
                        </volist>
                    </ul>
                    <div class="clear"></div>
                    <div class="ck"><a href="">查看全部</a></div>
                </div>
                <div>
                    <ul>
                        <!--媒体报告-->
                        <volist name="media_news" id="vo">
                            <li><a href="{:U('News/detail',array('id'=>$vo['id']))}">{$vo.create_time|date='m.d',###} | {$vo.title}</a></li>
                        </volist>
                    </ul>
                    <div class="clear"></div>
                    <div class="ck"><a href="">查看全部</a></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">jQuery(".slide_box2").slide({trigger:"click"});</script>
    <div class="blank70"></div>
</div>
<script type="text/javascript">

    $(document)
            .ajaxStart(function(){
               // document.getElementById('loading').click();
                $("input:submit").attr("disabled", true);
            })
            .ajaxStop(function(){
                $("input:submit").attr("disabled", false);
            });


    $(".hotform").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){

            if(data.status==1){

                window.location.href = data.url;
            } else {
                iosOverlay({
                    text: "请输入域名",
                    duration: 2e3,
                    icon: "__YWY__/ios/img/cross.png"
                });
                return false;
            }
        }
    });

</script>
<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->

</body>
</html>