<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
    <link href="__YWY__/css/selectpick/cui.css" rel="stylesheet" type="text/css"><!-- 2.2 selectpick美化下拉框插件 -->

    <link rel="stylesheet" href="__YWY__/server/css/layer.css" id="layui_layer_skinlayercss" style="">
</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="ban_div"><a href=""><img src="__YWY__/images/a6.jpg" width="100%" alt=""></a></div>
<div class="station_div">
    <div class="w1200">
        <ul>
            <li><a <eq name="pc" value="1">class="a1"</eq> href="{:U('Station/index',array('pc'=>1))}"><span class="span1">PC</span><i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
            <li><a <eq name="pc" value="2">class="a1"</eq> href="{:U('Station/index',array('pc'=>2))}"><span class="span2">手机</span><i><img src="__YWY__/images/j5.png" alt=""></i></a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="station_div1">
    <div class="station_div1_1 w1200">
        <form id="search" action="{:U('Station/index',array('pc'=>$pc))}" method="get">
        <div class="nice-select" style="width: 170px;" name="nice-select">
            <input type="text" id="shouarea" value="{$cate_name}" readonly />
            <input type="hidden" name="cate_id" id="cate_id" value="{$cate_id}"  />
            <input type="hidden" name="m" value="Home"  />
            <input type="hidden" name="c" value="Station"  />
            <input type="hidden" name="pc" value="{$pc}"  />
            <ul>
                <volist name="all_temp_cate" id="vo">
                <li data-value="{$vo.id}">{$vo.name}</li>
                </volist>

            </ul>
        </div>
        </form>
        <script>
            $('[name="nice-select"]').click(function(e){
                $('[name="nice-select"]').find('ul').hide();
                $(this).find('ul').show();
                e.stopPropagation();
            });
            $('[name="nice-select"] li').hover(function(e){
                $(this).toggleClass('on');
                e.stopPropagation();
            });
            $('[name="nice-select"] li').click(function(e){
                var val = $(this).text();
                var data = $(this).attr("data-value");
                $(this).parents('[name="nice-select"]').find('#shouarea').val(val);
                $(this).parents('[name="nice-select"]').find('#cate_id').val(data);
                $('#cate_id2').val(data);
                $('[name="nice-select"] ul').hide();
                e.stopPropagation();
                $('#search').submit();
            });
            $(document).click(function(){
                $('[name="nice-select"] ul').hide();
            });
        </script>
        <form action="{:U('Station/index')}" id="colorform" method="get">
            <input type="hidden" name="cate_id" id="cate_id2" value="{$cate_id}"  />
            <input type="hidden" name="m" value="Home"  />
            <input type="hidden" name="c" value="Station"  />
            <input type="hidden" name="pc" value="{$pc}"  />
            <input type="hidden" id="color" name="color" value="#fe0000"  />
        <div class="yans_div">
            <ul>
                <li class="li1">颜色</li>
                <li><a href="javascript:void(0)" data-color="" class="colors" ><img src="__YWY__/images/y1.png" alt=""></a></li>
                <li><a href="javascript:void(0)" data-color="#fe0000" class="<eq name='color' value='#fe0000'>a1</eq> colors" style="background:#fe0000"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#ff6300" class="<eq name='color' value='#ff6300'>a1 </eq> colors" style="background:#ff6300"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#fae242" class="<eq name='color' value='#fae242'>a1 </eq> colors" style="background:#fae242"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#80d031" class="<eq name='color' value='#80d031'>a1 </eq> colors" style="background:#80d031"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#26e0d2" class="<eq name='color' value='#26e0d2'>a1 </eq> colors" style="background:#26e0d2"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#198ede" class="<eq name='color' value='#198ede'>a1 </eq> colors" style="background:#198ede"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#fe68ff" class="<eq name='color' value='#fe68ff'>a1 </eq> colors" style="background:#fe68ff"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#979797" class="<eq name='color' value='#979797'>a1 </eq> colors" style="background:#979797"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#000000" class="<eq name='color' value='#000000'>a1 </eq> colors" style="background:#000000"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
                <li><a href="javascript:void(0)" data-color="#990099" class="<eq name='color' value='#990099'>a1 </eq> colors" style="background:#990099"><i><img src="__YWY__/images/yes.png" alt=""></i></a></li>
            </ul>
            <div class="clear"></div>
        </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="station_div1_2 w1220">
        <ul>
            <volist name="list" id="vo">
            <li>
                <div class="div1">
                    <img src="{$vo.images|get_cover=###,'path'}" alt="">
                    <a href=""></a>
                </div>
                <div class="div2">
                    <div class="div2_1">
                        <p>模板ID: {$vo.template_id}</p>
                        <p>模板价格: <span>¥{$vo.price}元</span></p>
                    </div>
                    <div class="div2_2">
                        <a href="javascript:void(0)" class="buyBtn" onclick="addToCart({$vo['id']})">购 买</a>
                    </div>
                </div>
            </li>
            </volist>



        </ul>
        <div class="clear"></div>
    </div>
    <!--分页开始-->
    {$page}
    <!--分页结束-->
</div>
<script>
    $(document)
            .ajaxStart(function(){

                $(".buyBtn").attr("disabled", true);
            })
            .ajaxStop(function(){
                $(".buyBtn").attr("disabled", false);
            });

    $('.yans_div').find('.colors').click(function(){
        var color = $(this).attr("data-color");
        $('#color').val(color);
        $('#colorform').submit();
    });

    //加入购物车
    function addToCart(id){
        if(!id){
            layer.alert("缺少参数",{title:"提示"});
            return false;
        }else{
            $.post("{:U('Station/addToCart')}", {id:id}, success, "json");
            function success(data){
                if(data.status==1){
                    layer.alert("加入购物车成功",{title:"提示"});
                    setTimeout(window.location.href = data.url,3000);
                }else if(data.status==2){
                    layer.alert(data.msg,{title:"提示"});
                    setTimeout(window.location.href = data.url,3000);
                } else {
                    layer.alert(data.msg,{title:"提示"});
                    return false;
                }
            }
        }

    }
</script>
<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->
<script type="text/javascript" src="__YWY__/js2016/lib/wjf/js/wjf-1.0.0.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/jqurey.tools/jquery.tools.rangeinput.min.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/layer/layer.js"></script>
</body>
</html>