<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>产品列表</h2>
    </div>
    <div class="cf">
        <div class="fl">
             订单号：<a class="" href="javascript:">{$order.ordersn}</a>
            <!--<button class="btn ajax-post confirm" url="{:U('removeCate')}" target-form="ids">删 除</button>-->
        </div>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="keywords" class="search-input" value="{:I('keywords')}" placeholder="请输入订单号或用户名">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">产品名称</th>
                <th class="">用户</th>
                <th class="">手机号码</th>
                <th class="">基本总价</th>
                <th class="">增值总价</th>
                <th class="">所有总价</th>
                <th class="">产品状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                        <td>{$vo.id} </td>
                        <td>{$vo.product_name}</td>
                        <td>{$vo.username}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.base_total}</td>
                        <td>{$vo.added_total}</td>
                        <td>{$vo.subtotal}</td>
                        <td>
                            <if condition="$vo['product_status'] eq '0' ">
                                未开通
                                <else />
                                已开通
                            </if>
                        </td>
                        <td>
                            <a href="{:U('Order/viewGoods',array('id'=>$vo['id']))}" >查看</a>

                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav('{:U('Order/index')}');
    </script>
</block>
