<extend name="Public/base" />


<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>
            查看 [{$renewgoods.product_name}]
        </h2>
        <h3><a href="{:U('Order/renewOrder')}">返回续费订单列表</a></h3>
    </div>
    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <ul class="tab-nav nav">

            <li data-tab="tab1" class="current"><a href="javascript:void(0);">续费信息</a></li>

        </ul>
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('confirmRenew')}" method="post" class="form-horizontal">
                <!-- 基础文档模型 -->

                <div id="tab1" class="tab-pane in tab1">

                    <div class="form-item cf">
                        <label class="item-label">产品名称<span class="check-tips"></span></label>
                        <div class="controls">
                            {$renewgoods.product_name}
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">续费月份<span class="check-tips"></span></label>
                        <div class="controls">
                            {$renewgoods.month}个月
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">价格信息<span class="check-tips"></span></label>
                        <div class="controls">
                            总价：{$renewgoods.total}元
                        </div>
                    </div>

                    <div class="form-item cf">
                        <label class="item-label">续费状态<span class="check-tips"></span></label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" value="0" name="product_status" <eq name="renewgoods['product_status']" value="0">checked</eq> >未续费
                            </label>
                            <label class="radio">
                                <input type="radio" value="1" name="product_status" <eq name="renewgoods['product_status']" value="1">checked</eq> />已续费
                            </label>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">产品类型<span class="check-tips"></span></label>
                        <div class="controls"><!--//产品类型 domain:域名 vitrual:虚拟机 mail:企业邮局 template:网站模板 host:弹性云主机 packagehost:套餐云主机-->
                            <switch name="renewgoods['type']">
                                <case value="domain">域名</case>
                                <case value="vitrual">虚拟机</case>
                                <case value="mail">企业邮箱</case>
                                <case value="host">弹性云主机</case>
                                <case value="template">云建站模板</case>
                                <case value="packagehost">套餐云主机</case>
                            </switch>
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">续费备注<span class="check-tips">（这里填写弹性云、套餐云手动续费的备注信息）</span></label>
                        <div class="controls">
                            <label class="textarea input-large">
                                <textarea name="renew_result">{$renewgoods.renew_result}</textarea>
                            </label>
                        </div>
                    </div>


                </div>
                <if condition="$renewgoods['product_status'] eq '0'">
                 <div class="form-item cf">
                     <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">续费</button>
                     <a class="btn btn-return" href="javascript:history.go(-1)">返 回</a>

                     <input type="hidden" name="id" value="{$renewgoods.id|default=''}"/>

                 </div>
                </if>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">

        Think.setValue("type", {$data.type|default='""'});
        Think.setValue("display", {$data.display|default=0});

        $('#submit').click(function(){
            $('#form').submit();
        });

    </script>

    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Order/renewOrder')}");
    </script>
</block>
