<extend name="Public/base" />


<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>
            开通 [{$goods.product_name}] 结果
        </h2>
        <h3><a href="{:U('Order/orderGoods',array('order_id'=>$goods['order_id']))}">返回产品列表</a></h3>
    </div>
    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <ul class="tab-nav nav">

            <li data-tab="tab1" class="current"><a href="javascript:void(0);">基础</a></li>

        </ul>
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('updateSheet')}" method="post" class="form-horizontal">
                <!-- 基础文档模型 -->

                <div id="tab1" class="tab-pane in tab1">

                    <div class="form-item cf">
                        <label class="item-label">返回结果：<span class="check-tips">（显示的是接口返回的参数,只有域名注册、虚拟机、邮局这三个产品有）</span></label>
                        <div class="controls">
                            <pre>
                            <?php
                            print_r($schedule['exec_info']);
                            ?>
                            </pre>
                        </div>
                    </div>

                </div>

                <!-- <div class="form-item cf">
                     <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                     <a class="btn btn-return" href="{$Think.cookie.__forward__}">返 回</a>

                     <input type="hidden" name="id" value="{$info.id|default=''}"/>

                 </div>-->
            </form>
        </div>
    </div>
</block>

<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">

        Think.setValue("type", {$data.type|default='""'});
        Think.setValue("display", {$data.display|default=0});

        $('#submit').click(function(){
            $('#form').submit();
        });

    </script>

    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Order/index')}");
    </script>
</block>
