<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>待续费产品列表</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <!-- <a class="btn" href="{:U('addCate')}">新 增</a>
             <button class="btn ajax-post confirm" url="{:U('removeCate')}" target-form="ids">删 除</button>-->
        </div>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="keywords" class="search-input" value="{:I('keywords')}" placeholder="请输入订单号或用户名">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">续费订单号</th>
                <th class="">用户</th>
                <th class="">手机号码</th>
                <th class="">产品名称</th>
                <th class="">产品类型</th>
                <th class="">续费价格</th>
                <th class="">续费时限</th>
                <th class="">续费状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                        <td>{$vo.id} </td>
                        <td>{$vo.order_sn}</td>
                        <td>{$vo.username}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.product_name}</td>
                        <td>
                            <switch name="vo['type']">
                                <case value="template">网站模板</case>
                                <case value="host">弹性云主机</case>
                                <case value="domain">域名</case>
                                <case value="vitrual">虚拟机</case>
                                <case value="mail">企业邮局</case>
                                <case value="packagehost">套餐云主机</case>
                            </switch>
                        </td>
                        <td>{$vo.total}</td>
                        <td>{$vo.month}个月</td>
                        <td>
                            <switch name="vo['product_status']">
                                <case value="0">未续费</case>
                                <case value="1">已续费</case>
                            </switch>
                        </td>
                        <td>
                            <a href="{:U('Order/viewRenewGoods',array('id'=>$vo['id']))}" >查看产品</a>

                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('Order/waitRenew')}");
    </script>
</block>
