<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>资金明细-{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
    <script src="__YWY__/css/sfq/js/index.js"></script><!-- 手风琴 -->
    <link href="__YWY__/css/sfq/css/font-awesome.min.css" rel="stylesheet"><!-- 手风琴 -->
    <link href="__YWY__/css/sfq/css/style.css" rel="stylesheet" media="screen" type="text/css" /><!-- 手风琴 -->
    <link href="__YWY__/css/style2.css" rel="stylesheet" type="text/css" /><!-- 表单美化 -->
    <link href="__YWY__/css/reveal/reveal.css" rel="stylesheet"><!-- 8.0 三种弹出效果 -->
    <script src="__YWY__/js/reveal/jquery.reveal.js"></script><!-- 8.0 三种弹出效果 -->
    <script type="text/javascript" src="__YWY__/js/jquery-rl.js"></script><!-- 日历 -->
    <script type="text/javascript" src="__YWY__/js/jquery.date_input.pack.js"></script> <!-- 日历 end -->

</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="user_index">
    <div class="w1200">
        <!-- 用户导航 -->
        <include file="Public/user_nav"/>
        <!-- /用户导航 -->
        <div class="user_fr_bank user_fr_bank_1">
            <h2>充值记录</h2>
            <div class="div_bank">
                <div class="yue">
                    <p>当前账户余额：<span>{$info.account}元</span></p><a href="">充 值</a><a href="">提 现</a>
                    <div class="clear"></div>
                </div>
                <form action="{:U('Cuser/account_log')}" method="get">
                    <div class="user_div">
                        <div class="riq_ss fl">
                            <input name="m" type="hidden" value="Home" />
                            <input name="c" type="hidden" value="Cuser" />
                            <input name="a" type="hidden" value="account_log" />
                            <input type="text" name="start" class="date_picker" placeholder="请选择时间段">
                            <input type="text" name="end" class="date_picker" placeholder="请选择时间段">
                        </div>
                        <script type="text/javascript">
                            $(function(){
                                $('.date_picker').date_input();
                            })
                        </script>
                        <div class="gjc_ss fl">

                            <input name="keywords" type="text" class="gjc_inp" placeholder="输入关键词搜索">
                            <input  type="submit" value="" class="gjc_anv">

                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </form>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ymgl_ta">
                    <tr>
                        <th width="33%">时间</th>
                        <th width="33%">金额</th>
                        <th width="">说明</th>
                    </tr>
                    <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                            <td><em class="em1">{$vo.money}</em></td>
                            <td>{$vo.desc}</td>
                        </tr>
                    </volist>


                </table>
                <!--分页开始-->
                {$page}
                <!--<div class="page_div">
                    <ul>
                        <li><a class="al" href=""></a></li>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">6</a></li>
                        <li><a href="">...</a></li>
                        <li><a class="ar" href=""></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>-->
                <!--分页结束-->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- <div id="myModal" class="reveal-modal">
    <h1>www.qbt8.com</h1>
      <form action="" method="post">
        <input name="" type="text" class="rev_inp" placeholder="请输入要修改的密码">
        <input name="" type="submit" value="提交" class="rev_sub">
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div> -->

<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->
</body>
</html>