<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="wsg,hth">
    <meta name="description" content="ASW">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <Meta name="description" Content="{:C('WEB_SITE_DESCRIPTION')}">
    <title>用户中心-{:C('WEB_SITE_TITLE')}</title>
    <link href="__YWY__/css/css.css" rel="stylesheet" type="text/css" />
    <script src="__YWY__/js/jquery.js"></script><!-- 统一调用js -->
    <script src="__YWY__/js/SuperSlide/jquery.superslide.2.1.1.js"></script><!-- 切换 -->
    <script src="__YWY__/css/sfq/js/index.js"></script><!-- 手风琴 -->
    <link href="__YWY__/css/sfq/css/font-awesome.min.css" rel="stylesheet"><!-- 手风琴 -->
    <link href="__YWY__/css/sfq/css/style.css" rel="stylesheet" media="screen" type="text/css" /><!-- 手风琴 -->
    <link href="__YWY__/css/style2.css" rel="stylesheet" type="text/css" /><!-- 表单美化 -->
    <link href="__YWY__/css/reveal/reveal.css" rel="stylesheet"><!-- 8.0 三种弹出效果 -->
    <script src="__YWY__/js/reveal/jquery.reveal.js"></script><!-- 8.0 三种弹出效果 -->
    <script type="text/javascript" src="__YWY__/js/jquery-rl.js"></script><!-- 日历 -->
    <script type="text/javascript" src="__YWY__/js/jquery.date_input.pack.js"></script> <!-- 日历 end -->
    <link href="__YWY__/css/upload-zy/zyUpload.css" rel="stylesheet"><!-- 9.0 Upload上传 -->

    <link rel="stylesheet" href="__YWY__/server/css/layer.css" id="layui_layer_skinlayercss" style="">
    <script>
        var upload_url = "{:U('File/fileupload')}";//上传控制器
    </script>
    <script src="__YWY__/js/upload-zy/zyFile.js"></script><!-- 9.0 Upload上传 -->
    <script src="__YWY__/js/upload-zy/zyUpload.js"></script><!-- 9.0 Upload上传 -->
    <script src="__YWY__/js/upload-zy/upload.js"></script><!-- 9.0 Upload上传 -->

</head>
<body>
<!-- 头部 -->
<include file="Public/top"/>
<!-- /头部 -->
<div class="user_index">
    <div class="w1200">
        <!-- 用户导航 -->
        <include file="Public/user_nav"/>
        <!-- /用户导航 -->
        <div class="user_fr_bank user_fr_bank_1">
            <h2>工单详情 <span class="fr" style="margin-right:20px;">{$info.create_time|date='Y-m-d H:i:s',###}</span></h2>
            <div class="div_bank">
                <div class="gdxq_div">
                    <h3>{$info.title}</h3>
                    {$info.content}
                </div>

                <volist name="chact_list" id="vo">
                    <if condition="$vo['from'] eq '管理员'">
                <div class="gdxq_hf">
                    <h3><span>{$vo.create_time|date='Y-m-d H:i:s',###}</span><span>来自：管理员</span></h3>
                    <div class="gdxq_hf_1">
                        <p>{$vo.content}</p>
                    </div>
                </div>
                        <else />
                        <div class="gdxq_hf1">
                            <h3><span>{$vo.create_time|date='Y-m-d H:i:s',###}</span><span>来自：我</span></h3>
                            <div class="gdxq_hf_1">
                                <p>{$vo.content}</p>
                                <empty name="vo['images']">
                                    <else />
                                    <volist name="vo['images']" id="item">
                                    <img src="{$item|get_cover=###,'path'}" />
                                    </volist>
                                </empty>
                            </div>
                        </div>
                    </if>
                </volist>
                <if condition="$info['status'] eq 1">
                <div class="user_div" style="padding-top:20px;margin-top:35px; border-top:3px solid #e7e7e7;">
                    <form action="{:U('Cuser/workSheetReply')}" method="post">
                        <input type="hidden" name="sheet_id" value="{$info.id}" />
                        <input type="hidden" name="from" value="{$user.username}" />
                        <input id="imgcontainer" name="images" type="hidden" value="" />
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_tjgd_ta">
                            <tr>
                                <td class="td1" valign="top">回复内容：</td>
                                <td><textarea name="content" cols="" rows="" class="tjgd_text" style="width:100%; height:120px;"></textarea></td>
                            </tr>
                            <tr>
                                <td class="td1" valign="top">回复附件：</td>
                                <td><div id="demo" class="demo"></div></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><input name="" type="submit" class="tjgd_button" value="提交工单"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                </if>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(document)
            .ajaxStart(function(){
                //document.getElementById('loading').click();
                $("input:submit").attr("disabled", true);
            })
            .ajaxStop(function(){
                $("input:submit").attr("disabled", false);
            });
    $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
            if(data.status==1){
                layer.alert(data.msg,{title:"提示"});
                setTimeout(window.location.href = data.url,2000)
                //window.location.href = data.url;
            } else {
                layer.alert(data.msg,{title:"提示"});
                return false;
            }
        }
    });
</script>

<!-- 底部 -->
<include file="Public/bottom"/>
<!-- /底部 -->
<script type="text/javascript" src="__YWY__/js2016/lib/wjf/js/wjf-1.0.0.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/jqurey.tools/jquery.tools.rangeinput.min.js"></script>
<script type="text/javascript" src="__YWY__/js2016/lib/layer/layer.js"></script>
</body>
</html>